<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.loginwhithfb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NavigationDrawerActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.ChangePassActivity"
        android:label="@string/activity_title_change_pass"/>
        <activity android:name=".activity.SearchCompanyActivity"
            android:label="@string/activity_title_search_company"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ChangeNumberActivity"
            android:label="@string/activity_title_change_number"/>
        <activity android:name=".activity.AddRequestCompanyActivity"
            android:label="@string/activity_title_request_to_add_company"/>
        <activity android:name=".activity.CompanyInfoActivity"
            android:label="@string/companyInfo"/>
    </application>
</manifest>